.scrolled {
    background-color: black;
}

.scrolled.helperlandi {
    width: 73px;
    height: 54px;
}

.helperlandh {
    width: 73px;
    height: 54px;
}

.helperlandh {
    width: 73px;
    height: 54px;
}

.booknow {
    background: #29626D 0% 0% no-repeat padding-box;
}

.loginnow123 {
    background: #29626D 0% 0% no-repeat padding-box;
}

.becomenow123 {
    background: #29626D 0% 0% no-repeat padding-box;
}

.navbar-brand {
    width: 73px;
    height: 54px;
}

header.star {
    background-image: url('../images/group-35.jpg');
    /* width: 1560px; */
    /* height: 930px; */
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    object-fit: contain;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Roboto-Regular;
}

.helperlandi {
    width: 175px;
    height: 130px;
}

header.star {
    background-image: url('../images/become-a-pro-banner.png');
    /* width: 1560px; */
    /* height: 930px; */
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    object-fit: contain;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Roboto-Regular;
    color: white;
    font-size: 16px;
}

a.nav-link.round-rectangle.book {
    padding-left: 27px;
}

a.nav-link.round-rectangle.book {
    color: white;
}

a.nav-link.round-rectangle1.px-4 {
    color: white;
}

a.nav-link.round-rectangle.px-3 {
    color: white;
}

.round-rectangle {
    width: 161px;
    height: 40px;
    border-radius: 25px;
    border: solid 1px white;
}

.round-rectangle1 {
    width: 80px;
    height: 40px;
    border-radius: 25px;
    border: solid 1px white;
}

#navbarNavAltMarkup {
    color: white;
    font-size: 16px;
}

.r1 {
    font-size: 24px;
    color: #4F4F4F;
    text-align: center;
    padding-top: 21px;
}

.register {
    background-color: white;
    width: 420px;
    /* display: flex; */
    justify-content: center;
    /* text-decoration-thickness: auto; */
    margin: auto;
    text-align: center;
}

#fname {
    width: 359px;
    height: 46px;
    border: 1px solid #C8C8C8;
    font-size: 16px;
}

#lname {
    width: 359px;
    height: 46px;
    border: 1px solid #C8C8C8;
    font-size: 16px;
}

#email {
    width: 359px;
    height: 46px;
    border: 1px solid #C8C8C8;
    font-size: 16px;
}

#number {
    width: 57px;
    height: 46px;
    background-color: #c8c8c8;
}

#mobile {
    width: 242px;
    height: 46px;
    border: 1px solid #C8C8C8;
    font-size: 16px;
}

#password {
    width: 359px;
    height: 46px;
    border: 1px solid #C8C8C8;
    font-size: 16px;
}

#conformpassword {
    width: 359px;
    height: 46px;
    border: 1px solid #C8C8C8;
    font-size: 16px;
}

.label-show-password {
    color: #A0A0A0;
}


/* #capcha {
    width: 302px;
    height: 76px;
    border: 1px solid #C8C8C8;
    font-size: 16px;
} */

.capcha123 {
    width: 302px;
    height: 76px;
    border: 1px solid #c8c8c8;
    font-size: 16px;
}

.startget {
    border: 1px solid #ffffff;
    border-radius: 27px;
    background-color: #1D7A8C;
    width: 166px;
    height: 46px;
    text-align: center;
    /* display: flex; */
    /* align-items: center; */
    margin: auto;
    /* margin-top: -1px; */
    padding-top: 10px;
}

#down-arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.hw1 {
    font-size: 35.95px;
    columns: #4F4F4F;
    text-align: center;
}

.mainlorem {
    background: url('../images/blog-left-bg.png') top left no-repeat, url('../images/blog-right-bg.png') top right no-repeat;
    /* background-position: left top,right top; */
}

.endnav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.endnav a {
    padding: 0px 10px;
    text-decoration: none;
    color: white;
}

.endsection {
    background: #111111 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    color: #f1f1f1;
    opacity: 1;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    padding: 20px;
    display: flex;
    flex-direction: column;
}