.navbar {
    height: 64px;
    ;
    background-color: #525252;
}

.nav1 a {
    padding: 0px 10px;
    text-decoration: none;
    color: white;
}

.mainstar {
    display: flex;
    justify-content: center;
    margin-top: 9px;
}

.contact {
    width: -webkit-fill-available;
}

#firstp {
    text-align: center;
}

.secondp {
    text-align: center;
}

.endnav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.endnav a {
    padding: 0px 10px;
    text-decoration: none;
    color: white;
}

.endsection {
    background: #111111 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    color: #f1f1f1;
    opacity: 1;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    padding: 20px;
    display: flex;
    flex-direction: column;
}