@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@model mainproject.Models.ContactU

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Contact Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="~/css/style4.css" rel="stylesheet" />

</head>
<body>
    <img src="~/images/pricesphoto.png" style="width: -webkit-fill-available;">
    <p class="contactusp">Contact us</p>

    <div class="mainstar">
        <div class="line"></div>
        <div clss="star123">
            <img class="star12345" src="~/images/star.png">
        </div>
        <div class="line"></div>
    </div>


    <div class="jayshreeram">
        <div>
            <div class="location1"><img class="location2" src="~/images/location.png"></div>
            <div>
                <p class="onefourtime">1111 Lorem ipsum text 100, </p>
            </div>
            <div>
                <p class="abipsum">Lorem ipsum AB</p>
            </div>
        </div>
        <div>
            <div class="phone1"><img class="phone2" src="~/images/phone-call.png"></div>

            <div>
                <p class="call1">+49 (40) 123 56 7890</p>
            </div>
            <div>
                <p class="call1">+49 (40) 987 56 0000</p>
            </div>
        </div>
        <div>
            <div class="vector1"><img class="vector2" src="~/images/vector-smart-object.png"></div>
            <div>
                <p class="call1">info@helperland.com</p>
            </div>

        </div>
    </div>


    <div class="line"></div>

    <p class="getin">Get in touch with us</p>



    <section style="margin-top: 23px;">
        <form asp-action="Contactus" asp-controller="Home" enctype="multipart/form-data">
            <div class="first">
                <div>
                    <input asp-for="Name" type="text" class="form-control" id="fname" placeholder="First name">
                    <span asp-validation-for="Name" class="formwarning alert-danger"></span>

                </div>
                <div>

                    <input asp-for="LastName" type="text" class="form-control" id="lname" placeholder="Last name">
                    <span asp-validation-for="LastName" class="formwarning alert-danger" style="margin-left:16px;"></span>

                </div>
            </div>
            <div class="second">

                <div class="third">
                    <div id="number">
                        <p class="fourtynine">+49</p>
                    </div>
                    <div>

                        <input asp-for="PhoneNumber" type="text" class="form-control" id="mobile" placeholder="Mobile number">
                        <span asp-validation-for="PhoneNumber" class="formwarning alert-danger"></span>

                    </div>
                </div>
               
                <div>
                    <div>
                        <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Email address" style="  width: 299px;
                        height: 46px;
                        border: 1px solid #C8C8C8;
                        font-size: 16px;
                        margin-left: 16px;
                    ">
                        <span asp-validation-for="Email" class="formwarning alert-danger" style="margin-left:16px;"></span>

                    </div>
                </div>
            </div>
            <div class="four">
                <select asp-for="Subject" class="form-select" aria-label="Default select example" id="subject" placeholder="Subject">
                    <option value="General" selected>General</option>
                    <option value="Inquiry"> Inquiry</option>
                    <option value="Renewal">Renewal</option>
                    <option value="Revocation">Revocation</option>
                </select>
            </div>
            <div class="five">
                <textarea asp-for="Message" class="form-control" rows="4" cols="50" id="message">
                    Message</textarea>
            </div>
            <div class="submit123">
                <button type="submit" id="submit">Submit</button>
            </div>
        </form>
    </section>


    <img src="~/images/group-16.png" style="width: -webkit-fill-available;">


    <div class="g12">

        <p class="getour">Get Our Newspaper</p>
        <div class="g112">
            <!-- <p></p> -->
            <input type="text" id="email123" name="email" value="your email">
            <input type="submit" class="submit" value="Submit">
        </div>


</body>
</html>