@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/style.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>


<section id="why">
    <p class="w">Why Helperland</p>



    <div class="mainhelper">
        <div class="helper">
            <img src="images/helper-img-1.png" style="width: 320px; height: 320px;">
            <p class="pe1">Experience & Vetted Professionals</p>
            <p class="pdo">dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
        </div>


        <div class="helper2">
            <img class="weyboard" src="images/weyboard.png">
            <p class="pse">Secure Online Payment</p>
            <p class="payment">payment is processed securely online.Custumer pay safely online and manage the booking. </p>
        </div>


        <div class="helper3" style="">
            <img src="images/headphones.png" style="width: 320px;
              height: 320px;   ">
            <p class="dedicated">Dedicated Customer Service</p>
            <p class="toour">to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. </p>
        </div>
    </div>
    <div class="mainlorem">
        <div class="firstlorem">
            <div class="secondlorem">
                <p class="lorem">Lorem ipsum dolor sit amet, consectetur</p>
                <p class="lorem1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut accumsan vitae, pulvinar ac libero. </p>
                <p class="lorem2">
                    Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor. Integer pretium hendrerit ante quis vehicula.
                </p>
                <p class="lorem3">Mauris consequat ornare enim, sed lobortis quam ultrices sed.</p>
            </div>
            <div class="secondlorem">
                <img src="images/groupphoto.png" style="width: 256px;
      height: 256px;">
            </div>
        </div>


        <div class="firstblog">
            <div class="secondblog">
                <section class="blog1">
                    <img src="images/blog1.png" class="ib1">
                    <p class="bl1">Lorem ipsum dolor sit amet</p>
                    <p style="text-align: left;
            letter-spacing: 0px;
            color: #A3A3A3;
            opacity: 1; font-size:13px; ">January 28, 2019</p>

                    <p class="bll1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.
                    </p>
                    <p class="blll1">Read the Post</p>
                    <img src="images/right-arrow.png" style="margin-left: 127px;
                        /* margin-bottom: 36px; */
                        margin-top: -80px;
      opacity: 1;    ">

                </section>
            </div>


            <div class="secondblog">
                <section class="blog2">
                    <img src="images/blog2.png" class="mainl1">
                    <p class="bl2">Lorem ipsum dolor sit amet</p>
                    <p class="mainj1">January 28, 2019</p>
                    <p class="bll2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.
                    </p>
                    <p class="blll2">Read the Post</p>
                    <img src="images/right-arrow.png" class="read1">
                </section>

            </div>


            <div class="secondblog">
                <section class="blog3">
                    <img src="images/blog3.png" class="mainl2">
                    <p class="bl3 ">Lorem ipsum dolor sit amet</p>
                    <p class="mainj2 ">January 28, 2019</p>

                    <p class="bll3 ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.
                    </p>
                    <p class="blll3 ">Read the Post</p>
                    <img src="images/right-arrow.png " class="read2">
                </section>-->
            </div>

        </div>
    </div>
    </div>
    </div>






    




        <div>
            <div class="g1 " style="margin-bottom: 53px; ">
                <div class="g11 ">
                    <!-- <p>1</p> -->
                    <!-- <div class="Ellipse-649 " id="arrow "><img src="images/white-upper.png " style="width: 19px; height: 10px; background-color: #525252; "> -->
                    <button onclick="topFunction() " id="myBtn " class="Ellipse-649 " title="Go to top "><img src="images/white-upper.png " class="whiteupper"></button>
                    <!-- </div> -->
                </div>
                <div class="g12 ">

                    <p class="getour">Get Our Newspaper</p>
                    <div class="g112 ">
                        <!-- <p></p> -->
                        <input type="text " id="email " name="email " value="your email ">
                        <input type="submit " id="submit" value="Submit ">
                    </div>

                </div>
                <div class="g13 ">
                    <!-- <p>3</p> -->

                    <img src="images/layer-598.png " class="layer598">
                </div>
            </div>
        </div>

    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js "
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM "
            crossorigin="anonymous "></script>



    <script>
        //Get the button
        var mybutton = document.getElementById("arrow ");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block ";
            } else {
                mybutton.style.display = "none ";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
