.navbar {
    height: 64px;
    ;
    background-color: #525252;
}

.whitelogo {
    width: 73px;
    height: 54px;
    margin-top: -3px;
    margin-left: 15px;
}

.nav1 {
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 111px;
    height: 40px;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prices {
    width: 161px;
    height: 40px;
    background: #00607200 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.warranty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
}

.login {
    width: 83px;
    height: 40px;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
    margin-left: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.become {
    width: 161px;
    height: 40px;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ppp {
    width: 84px;
    height: 43px;
    text-align: center;
    letter-spacing: 0px;
    color: #4F4F4F;
    opacity: 1;
    margin: auto;
    font-style: bold;
    font-size: 35.95px;
}

.line {
    width: 62px;
    height: 1px;
    opacity: 1;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 14px;
}

.istar {
    width: 24px;
    height: 25px;
    opacity: 1;
}

.onetime {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 553px;
    height: 304px;
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    border: 1px solid #B0C9CE;
    /* opacity: 1; */
    margin: auto;
    margin-top: 42px;
}

.time1 {
    width: 553px;
    height: 59px;
    background: #1D7A8C 0% 0% no-repeat padding-box;
    opacity: 1;
}

.time2 {
    font-size: 28px;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 9px;
}

.line13 {
    width: 1140px;
    height: 1px;
    opacity: 1;
    border-bottom: 1px solid #dcdcdc;
    margin-top: 14px;
}

.extra {
    width: 226px;
    height: 43px;
    text-align: center;
    letter-spacing: 0px;
    color: #4F4F4F;
    opacity: 1;
    margin: auto;
    font-style: bold;
    font-size: 35.95px;
    margin-top: 35px;
}

.line14 {
    width: 62px;
    height: 1px;
    opacity: 1;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 14px;
}

.line15 {
    width: 62px;
    height: 1px;
    opacity: 1;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 14px;
}

.mainextra {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 39px;
}

.ic1 {
    border: 1px solid #B0C9CE;
    width: 108px;
    height: 108px;
    border-radius: 50%;
}

.ic2 {
    /* width: 37px; */
    /* height: 48px; */
    padding-top: 29px;
    padding-left: 34px;
}

.thirteenm {
    color: #1D7A8C;
    font-size: 18px;
    font-style: bold;
}

.if1 {
    border: 1px solid #B0C9CE;
    width: 108px;
    height: 108px;
    border-radius: 50%;
}

.if2 {
    /* width: 37px; */
    /* height: 48px; */
    padding-top: 29px;
    padding-left: 34px;
}

.if3 {
    color: #1D7A8C;
    font-size: 18px;
    font-style: bold;
}

.io1 {
    border: 1px solid #B0C9CE;
    width: 108px;
    height: 108px;
    border-radius: 50%;
}

.io2 {
    /* width: 37px; */
    /* height: 48px; */
    padding-top: 29px;
    padding-left: 34px;
}

.io3 {
    color: #1D7A8C;
    font-size: 18px;
    font-style: bold;
}

.lw1 {
    border: 1px solid #B0C9CE;
    width: 108px;
    height: 108px;
    border-radius: 50%;
}

.lw2 {
    /* width: 37px; */
    /* height: 48px; */
    padding-top: 29px;
    padding-left: 34px;
}

.lw3 {
    color: #1D7A8C;
    font-size: 18px;
    font-style: bold;
}

.nav1 a {
    padding: 0px 10px;
    text-decoration: none;
    color: white;
}

.iw1 {
    border: 1px solid #B0C9CE;
    width: 108px;
    height: 108px;
    border-radius: 50%;
}

.iw2 {
    /* width: 37px; */
    /* height: 48px; */
    padding-top: 29px;
    padding-left: 34px;
}

.iw3 {
    color: #1D7A8C;
    font-size: 18px;
    font-style: bold;
}

.whatwe {
    background: #F6F6F6 0% 0% no-repeat padding-box;
}

.whatwe1 {
    height: 43px;
    text-align: center;
    letter-spacing: 0px;
    color: #4F4F4F;
    opacity: 1;
    margin: auto;
    font-style: bold;
    font-size: 35.95px;
}

.clean123 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.c1i {
    width: 360px;
    height: 210px;
}

.bedp {
    font-style: bold;
    font-size: 20px;
}

.rightarrow {
    width: 22px;
    height: 22px;
}

.hiip {
    padding-left: 9px;
    padding-top: 2px;
}

.clean2 {
    width: 360px;
    height: 210px;
}

.bathr {
    font-style: bold;
    font-size: 20px;
}

.clean3 {
    width: 360px;
    height: 210px;
}

.kitchen {
    font-style: bold;
    font-size: 20px;
}

.whyp {
    height: 43px;
    text-align: center;
    letter-spacing: 0px;
    color: #4F4F4F;
    opacity: 1;
    margin: auto;
    font-style: bold;
    font-size: 35.95px;
    margin-top: 78px;
}

.i1star {
    width: 24px;
    height: 25px;
    opacity: 1;
}

.ram1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.experienced {
    font-size: 20px;
    font-style: bold;
    text-align: end;
}

.dominate {
    font-size: 14px;
    text-align: end;
    text-align: end;
    width: 286px;
    height: 85px;
}

.dedicated {
    font-size: 20px;
    font-style: bold;
    text-align: end;
}

.toourc {
    font-size: 14px;
    text-align: end;
    width: 276px;
    height: 85px;
}

.every {
    font-size: 20px;
    font-style: bold;
}

.andseek {
    font-size: 14px;
    width: 286px;
    height: 85px;
}

.secure {
    font-size: 20px;
    font-style: bold;
}

.payment {
    font-size: 14px;
    width: 276px;
    height: 85px;
}

.g1 {
    margin-bottom: 53px;
    margin-top: 50px;
}

.whiteupper {
    width: 19px;
    height: 10px;
    background-color: #525252;
}

.getournp {
    text-align: center;
    margin-top: 9px;
}

#email {
    border: 1px solid #565656;
    border-radius: 20px;
    opacity: 1;
    padding-left: 22.12px;
    width: 233px;
    height: 40px;
}

#submit {
    background: #FF7B6D 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    width: 88px;
}

.layer598 {
    width: 63px;
    height: 63px;
    opacity: 1;
}

.line456 {
    width: 1320px;
    height: 1px;
    opacity: 1;
    border-bottom: 1px solid #424242;
    margin-top: 14px;
}

.secnraw {
    display: flex;
    justify-content: center;
}

.allrights {
    color: #9BA0A3;
    font-size: 14px;
    height: 16px;
    margin-bottom: 0px;
    margin-top: 9px;
}

.mainstar {
    display: flex;
    justify-content: center;
    margin-top: 9px;
}

.g1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* align-items: flex-end; */
    margin-top: 31px;
}

.g11 {
    /* background-color: blue; */
    /* display: flex; */
}

.g12 {
    /* display: flex; */
    justify-content: center;
}

.g13 {
    /* background-color: green; */
    /* display: flex; */
    /* justify-content: flex-end; */
}

.Ellipse-649 {
    width: 48px;
    height: 48px;
    background-color: #525252;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.endsection {
    background: #111111 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    color: #f1f1f1;
    opacity: 1;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.endnav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.endnav a {
    padding: 0px 10px;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 996px) {
    .navbar {
        height: none;
        background-color: #525252;
    }
    .nav1 {
        margin-top: 15px;
        justify-content: center;
        flex-basis: min-content;
    }
    .book123 {}
    .featuredBtn {
        width: -webkit-fill-available;
        height: 66px;
        color: white;
        background-color: #1d7a8c;
        border: none;
        letter-spacing: 2px;
        outline: none;
    }
    .endnav {
        justify-content: center;
    }
}

@media only screen and (max-width: 574px) {
    .onetime {
        max-width: -webkit-fill-available;
    }
}