@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Contact Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="~/css/style4.css" rel="stylesheet" />

</head>
<body>
    <img src="~/images/pricesphoto.png" style="width: -webkit-fill-available;">
    <p class="contactusp">Contact us</p>

    <div class="mainstar">
        <div class="line"></div>
        <div clss="star123">
            <img class="star12345" src="~/images/star.png">
        </div>
        <div class="line"></div>
    </div>


    <div class="jayshreeram">
        <div>
            <div class="location1"><img class="location2" src="~/images/location.png"></div>
            <div>
                <p class="onefourtime">1111 Lorem ipsum text 100, </p>
            </div>
            <div>
                <p class="abipsum">Lorem ipsum AB</p>
            </div>
        </div>
        <div>
            <div class="phone1"><img class="phone2" src="~/images/phone-call.png"></div>

            <div>
                <p class="call1">+49 (40) 123 56 7890</p>
            </div>
            <div>
                <p class="call1">+49 (40) 987 56 0000</p>
            </div>
        </div>
        <div>
            <div class="vector1"><img class="vector2" src="~/images/vector-smart-object.png"></div>
            <div>
                <p class="call1">info@helperland.com</p>
            </div>

        </div>
    </div>


    <div class="line"></div>

    <p class="getin">Get in touch with us</p>



    <section style="margin-top: 23px;">
        <form>
            <div class="first">
                <div><input type="text" id="fname" name="firstname" placeholder="First name"></div>
                <div><input type="text" id="lname" name="lastname" placeholder="Last name"></div>
            </div>
            <div class="second">
                <div class="third">
                    <div id="number">
                        <p class="fourtynine">+49</p>
                    </div>
                    <div><input type="mobile-number" id="mobile" name="mobile" placeholder="Mobile number"></div>
                </div>
                <div>
                    <div>
                        <input type="email" id="email" name="email" placeholder="Email address" style="  width: 299px;
                        height: 46px;
                        border: 1px solid #C8C8C8;
                        font-size: 16px;
                        margin-left: 16px;
                    ">
                    </div>
                </div>
            </div>
            <div class="four">
                <select id="subject" name="subject" placeholder="Subject">
                    <option value="Subject">Subject</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="five">
                <textarea rows="4" cols="50" name="comment" id="message">
                    Message</textarea>
            </div>
            <div class="submit123">
                <input type="submit" value="Submit" id="submit">
            </div>
        </form>
    </section>


    <img src="~/images/group-16.png" style="width: -webkit-fill-available;">


    <div class="g12">

        <p class="getour">Get Our Newspaper</p>
        <div class="g112">
            <!-- <p></p> -->
            <input type="text" id="email123" name="email" value="your email">
            <input type="submit" class="submit" value="Submit">
        </div>


</body>
</html>